# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/

# Chroma DB
chroma_db/

# Gradio local files
gradio/

# Git files
.git
.gitignore

# Environment files
.env

# Docker files
Dockerfile
.dockerignore

# Local OS files
.DS_Store
Thumbs.db

# Logs
*.log

# VSCode settings
.vscode/

# Jupyter notebooks checkpoints
.ipynb_checkpoints/
